li{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 88vw;
    padding: 6px 12px;
    margin: 20px auto;
}

.emptyDiv{
    border: 1px solid black;
    width: 50%;
}

.buttonDiv{
    width: 50%;
    border: 1px solid red;
}

.buttons{
    display: flex;
    border: 1px solid blue;
}

.userInfo{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    /* margin: 20px 12px 15px 50px; */
}