*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#listTitle{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  width: 90vw;
  margin: 30px auto;
  border-radius: 5px;
}

Button{
  margin-left: 300px;
}